<div class="breadcrumb">
  <a href="/">all users</a> <<
  <a href="/users/<%= @question.user_id %>">user <%= @question.user_id %></a>
</div>

<h1>Analyzing question <%= @question.id %></h1>

<h3>Menu</h3>
<ul>
  <% @question.values.each do |good, value| %>
    <li>Good <%= good %> has a value of <%= value %></li>
  <% end %>
</ul>

<ul>
  <% @question.effects.each do |bundle, value| %>
    <li>Bundle <%= bundle %> has a value of <%= value %></li>
  <% end %>
</ul>

<h3>Partial Values</h3>
  <table class="partial-values">
    <% @question.partial_values.each do |v| %>
      <tr>
        <td><%= v.bundle %></td>
        <td class="value"><%= v.value %></td>
      </tr>
    <% end %>
  </table>

  <div id="graph"></div>

<h3>Analysis</h3>
<%= erb :form, locals: { question: @question } %>

<h3>Interactions</h3>
(<%= @question.menu_items.count %> menu items, <%= @question.answers.count %> goods)
<ul>
  <% @question.interactions.each do |interaction| %>
    <li><%= format_time interaction.created_at %>: <%= interaction.content %></li>
  <% end %>
</ul>

<div data-choices="<%= h @question.partial_values.to_json %>"></div>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
  (function() {
    var choices = JSON.parse(document.querySelector("[data-choices]").dataset.choices)
      .map(function(choice) {
        choice.time = new Date(choice.time);
        return choice;
      });

    console.log(choices)

    google.load('visualization', '1.0', {'packages':['corechart']});
    google.setOnLoadCallback(drawChart);

    var formatTime = function(date) {
      var hours = date.getHours();
      var minutes = date.getMinutes();
      var seconds = date.getSeconds();
      var ampm = hours >= 12 ? 'pm' : 'am';
      hours = hours % 12;
      hours = hours ? hours : 12; // the hour '0' should be '12'
      minutes = minutes < 10 ? '0'+minutes : minutes;
      seconds = seconds < 10 ? '0'+seconds : seconds;
      var strTime = hours + ':' + minutes + ':' + seconds + ' ' + ampm;
      return strTime;
    }

    function drawChart() {

      // Create the data table.
      var data = new google.visualization.DataTable();
      data.addColumn('datetime', 'Time');
      data.addColumn('number', 'In Search Set');
      data.addColumn({type:'string', role:'tooltip'});
      data.addColumn('number', 'Not In Search Set');
      data.addColumn({type:'string', role:'tooltip'});

      choices.forEach(function(choice) {
        data.addRow(
          [ choice.time,
            choice.in_search_set ? choice.value : null,
            choice.bundle + " provides value " + choice.value + "\n" + "selected at " + formatTime(choice.time),
            choice.in_search_set ? null : choice.value,
            choice.bundle + " provides value " + choice.value + "\n" + "selected at " + formatTime(choice.time),
          ]);
      });


      // Set chart options
      var options = {
        title:'Time vs Value',
        hAxis: { title: 'Time' },
        vAxis: { title: 'Value' }
      };

      // Instantiate and draw our chart, passing in some options.
      var chart = new google.visualization.ScatterChart(document.getElementById('graph'));
      chart.draw(data, options);
    }



  })();
</script>
